NEXT_PUBLIC_REGISTRY_ALIAS="@arni"
NEXT_PUBLIC_REGISTRY_HOMEPAGE="http://localhost:3000"
NEXT_PUBLIC_REGISTRY_URL_TEMPLATE="http://localhost:3000/r/{name}.json"
REGISTRY_NAME="arni"
REGISTRY_ALIAS="@arni"
REGISTRY_HOMEPAGE="http://localhost:3000"
